---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, '');
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
	<slot />
</a>
<style>
	a {
	margin-left: 30px;
	display: inline-block;
	text-decoration: none;
	transition: all 0.3s ease;
	color: #bdbdbd; /* Change this to your desired default color */
}

a.active {
	font-weight: bolder;
	text-decoration: underline;
}

a:hover {
	transform: scale(1.1);
	color: #ff0000; /* Change this to your desired hover color */
}

</style>
