---
/*const members = [
    {
    name: "",
    country:"",
    description:"",

    }
]
*/
---
<main>
<div class="card">
    <img draggable="false" src="/assets/images/avatars/0xRar.png">
    <div class="card-text">
        <h2>0xRar 🇧🇭</h2>
        <p>Developed this theme for fun</p>
    </div>
</div>

<div class="card">
    <img draggable="false" src="/assets/images/avatars/riddle.jpg">
    <div class="card-text">
        <h2>R1ddl3 🇪🇬</h2>
        <p>Its me a gigachad</p>
    </div>
</div>
</main>
    <style>
.card {
    display: flex;
    flex-wrap: wrap;
    background: rgb(35, 35, 35);
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
        rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
        rgba(255, 255, 255, 0.08) 0px 1px 0px inset;

    max-width: 50rem;
    width: 100%;
    border-radius: 0.8rem;
    overflow: hidden;
    border: 0.3rem solid;
    margin-bottom: 10px;
}

.card img {
    padding: min(2rem, 5vw) min(2rem, 5vw) min(2.5rem, 5vw);
    width: 10%;
    height: 20%;
    border-radius: 50%;
}
    </style>