---
import HeaderLink from './HeaderLink.astro';
---
<header>
	<nav>
		<div class="flex">
		<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="/members">Members</HeaderLink>
		<HeaderLink href="/blog">Blog</HeaderLink>
	</div>
	</nav>
</header>
<hr style="height:1px;border-width:0;color:rgb(255, 255, 255);background-color:rgb(255, 255, 255)">
<style>
	header {
		margin: 0;
		list-style: none;
    	font-size: 1.4rem;
		padding: 14px 20px;
	}
</style>
