---
import banner from '../assets/images/wide.png'
import '../styles/global.css';
---
<main
  class="grid lg:grid-cols-2 place-items-left pt-16 pb-8 md:pt-12 md:pb-24">

  <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 transition duration-500 hover:scale-110">
    <a href="#">
        <img class="rounded-t-lg" src={banner} alt="" />
    </a>
    <div class="p-5">
        <a href="#">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Join us on Discord!</h5>
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Want to apply for the team, exchange knowledge with likeminded people or just chat? Feel free to join our public Discord Server.</p>
        <a href="https://discord.com/invite/6p4Bf6UQ4P" class="inline-flex items-center px-10 py-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Join Discord
             <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
            </svg>
        </a>
    </div>
</div>
  <div>
  <h1
    class="text-inherit text-5xl font-bold lg:tracking-tight xl:tracking-tighter">
      Find Us on:
      </h1>
<div class="grid grid-cols-1 grid-rows-3 gap-4 py-4">
    <div >CTFtime</div>
    <div >Github</div>
    <div >Twitter</div>
</div>
    
      </div>
    

</main>